:root {
    --background-basalt: #2f2f2f;
    --text-basalt-h1: #e3e3e3;
    --text-basalt-h2: #c8c8c8;
    --text-basalt-h3: #a0a0a0;
    --text-basalt: #d5d5d5;
    --hr-basalt: #747474;
    --link-basalt: #c8c8c8;
    --link-basalt-hover: #e3e3e3;
    --link-unresolved-basalt: #c8c8c8;
    --link-unresolved-decoration-basalt: #c8c8c8;
    --table-border-basalt: #747474;
    --table-header-basalt: #e3e3e3;
    --code-background-basalt: #1f1f1f;
    --blockquote-border-basalt: #747474;
    --checkbox-basalt: #e3e3e3;
}

.page-basalt {
    background-color: var(--background-basalt);
    color: var(--text-basalt);
    --hr-color: var(--hr-basalt);
    --link-unresolved-color: var(--link-unresolved-basalt);
    --link-external-color: var(--link-basalt);
    --link-external-color-hover: var(--link-basalt-hover);
    --link-color: var(--link-basalt);
    --link-color-hover: var(--link-basalt-hover);
    --link-unresolved-decoration-color: var(--link-unresolved-decoration-basalt);
    --table-border-color: var(--table-border-basalt);
    --table-header-border-color: var(--table-header-basalt);
    --table-header-color: var(--table-header-basalt);
    --code-background: var(--code-background-basalt);
    --blockquote-border-color: var(--blockquote-border-basalt);
    --checkbox-color: var(--checkbox-basalt);
}

.page-basalt-headings :is(h1, .HyperMD-header.HyperMD-header-1) {
    color: var(--text-basalt-h1);
    text-align: center;
    font-size: 40px;
}

.page-basalt-headings :is(h2, .HyperMD-header.HyperMD-header-2) {
    color: var(--text-basalt-h2);
    font-size: 32px;
}

.page-basalt-headings :is(h3, .HyperMD-header.HyperMD-header-3, h4, .HyperMD-header.HyperMD-header-4, h5, .HyperMD-header.HyperMD-header-5, h6, .HyperMD-header.HyperMD-header-6) {
    color: var(--text-basalt-h3);
}