:root {
  --primary: #ffffff;
  --gray: #d7d7d7;
}

.gohu-font {
  --font-text: "GohuFont uni11 Nerd Font Mono", "JetBrainsMono Nerd Font Mono", "JetBrains Mono";
}

.ms-dos-font {
  --font-text: "Perfect DOS VGA 437", "JetBrainsMono Nerd Font Mono", "JetBrains Mono";
}

.bai-font {
  --font-text: "Bai Jamjuree", "JetBrainsMono Nerd Font Mono", "JetBrains Mono";
}

.kode-font {
  --font-text: "Kode Mono", "JetBrainsMono Nerd Font Mono", "JetBrains Mono";
}

.sriracha-font {
  --font-text: "Sriracha", "JetBrainsMono Nerd Font Mono", "JetBrains Mono";
}

.bai-headings :is(h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .HyperMD-header.HyperMD-header-1,
  .HyperMD-header.HyperMD-header-2,
  .HyperMD-header.HyperMD-header-3,
  .HyperMD-header.HyperMD-header-4,
  .HyperMD-header.HyperMD-header-5,
  .HyperMD-header.HyperMD-header-6) {
  font-family: "Bai Jamjuree", "JetBrainsMono Nerd Font Mono", "JetBrains Mono";
}

.kode-headings :is(h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .HyperMD-header.HyperMD-header-1,
  .HyperMD-header.HyperMD-header-2,
  .HyperMD-header.HyperMD-header-3,
  .HyperMD-header.HyperMD-header-4,
  .HyperMD-header.HyperMD-header-5,
  .HyperMD-header.HyperMD-header-6) {
  font-family: "Kode Mono", "JetBrainsMono Nerd Font Mono", "JetBrains Mono";
}

.sriracha-headings :is(h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .HyperMD-header.HyperMD-header-1,
  .HyperMD-header.HyperMD-header-2,
  .HyperMD-header.HyperMD-header-3,
  .HyperMD-header.HyperMD-header-4,
  .HyperMD-header.HyperMD-header-5,
  .HyperMD-header.HyperMD-header-6) {
  font-family: "Sriracha", "JetBrainsMono Nerd Font Mono", "JetBrains Mono";
}