:root {
    --background-jet: #161616;
    --text-jet-h1: #c5c5c5;
    --text-jet-h2: #c8c8c8;
    --text-jet-h3: #a0a0a0;
    --text-jet: #d5d5d5;
    --hr-jet: #747474;
    --link-jet: #c8c8c8;
    --link-jet-hover: #e3e3e3;
    --link-unresolved-jet: #c8c8c8;
    --link-unresolved-decoration-jet: #c8c8c8;
    --table-border-jet: #747474;
    --table-header-jet: #e3e3e3;
    --code-background-jet: #1f1f1f;
    --blockquote-border-jet: #747474;
    --checkbox-jet: #e3e3e3;
}

.page-jet {
    background-color: var(--background-jet);
    color: var(--text-jet);
    --hr-color: var(--hr-jet);
    --link-unresolved-color: var(--link-unresolved-jet);
    --link-external-color: var(--link-jet);
    --link-external-color-hover: var(--link-jet-hover);
    --link-color: var(--link-jet);
    --link-color-hover: var(--link-jet-hover);
    --link-unresolved-decoration-color: var(--link-unresolved-decoration-jet);
    --table-border-color: var(--table-border-jet);
    --table-header-border-color: var(--table-header-jet);
    --table-header-color: var(--table-header-jet);
    --code-background: var(--code-background-jet);
    --blockquote-border-color: var(--blockquote-border-jet);
    --checkbox-color: var(--checkbox-jet);
}

.page-jet-headings :is(h1, .HyperMD-header.HyperMD-header-1) {
    color: var(--text-jet-h1);
    text-align: center;
    font-size: 40px;
}

.page-jet-headings :is(h2, .HyperMD-header.HyperMD-header-2) {
    color: var(--text-jet-h2);
    font-size: 32px;
}

.page-jet-headings :is(h3, .HyperMD-header.HyperMD-header-3, h4, .HyperMD-header.HyperMD-header-4, h5, .HyperMD-header.HyperMD-header-5, h6, .HyperMD-header.HyperMD-header-6) {
    color: var(--text-jet-h3);
}