:root {
    --background-midnight: #08090f;
    --text-midnight-h1: #dadfff;
    --text-midnight-h2: #bbc0e2;
    --text-midnight-h3: #b3b8d9;
}

.page-midnight {
    background-color: var(--background-midnight);
    --hr-color: #8c8d92;
    --link-unresolved-color: #bbc0e2;
    --link-external-color-hover: #bbc0e2;
    --link-color: #bbc0e2;
    --link-color-hover: #bbc0e2;
    --link-unresolved-decoration-color: #bbc0e2;
    --table-border-color: #8c8d92;
    --table-header-border-color: #8c8d92;
    --table-header-color: #bbc0e2;
    --code-background: #090c1b;
    --blockquote-border-color:  #8c8d92;
    --checkbox-color: #bbc0e2;
}

.page-midnight-headings :is(h1, .HyperMD-header.HyperMD-header-1) {
    color: var(--text-midnight-h1);
    text-align: center;
    font-size: 40px;
}

.page-midnight-headings :is(h2, .HyperMD-header.HyperMD-header-2) {
    color: var(--text-midnight-h2);
    font-size: 32px;
}

.page-midnight-headings :is(h3, .HyperMD-header.HyperMD-header-3) {
    color: var(--text-midnight-h3);
}