:root {
    --background-pitchblack: #000000;
    --text-pitchblack-h1: #e3e3e3;
    --text-pitchblack-h2: #c8c8c8;
    --text-pitchblack-h3: #9e9e9e;
    --text-pitchblack: #e3e3e3;
    --hr-pitchblack: #696969;
    --link-pitchblack: #b9c2e0;
    --link-pitchblack-hover: #b9c2e0;
    --link-unresolved-pitchblack: #b9c2e0;
    --link-unresolved-decoration-pitchblack: #b9c2e0;
    --table-border-pitchblack: #696969;
    --table-header-pitchblack: #b9c2e0;
    --code-background-pitchblack: #151515;
    --blockquote-border-pitchblack: #696969;
    --checkbox-pitchblack: #b9c2e0;
}

.page-pitchblack {
    background-color: var(--background-pitchblack);
    color: var(--text-pitchblack);
    --hr-color: var(--hr-pitchblack);
    --link-unresolved-color: var(--link-unresolved-pitchblack);
    --link-external-color: var(--link-pitchblack);
    --link-external-color-hover: var(--link-pitchblack-hover);
    --link-color: var(--link-pitchblack);
    --link-color-hover: var(--link-pitchblack-hover);
    --link-unresolved-decoration-color: var(--link-unresolved-decoration-pitchblack);
    --table-border-color: var(--table-border-pitchblack);
    --table-header-border-color: var(--table-header-pitchblack);
    --table-header-color: var(--table-header-pitchblack);
    --code-background: var(--code-background-pitchblack);
    --blockquote-border-color: var(--blockquote-border-pitchblack);
    --checkbox-color: var(--checkbox-pitchblack);
}

.page-pitchblack-headings :is(h1, .HyperMD-header.HyperMD-header-1) {
    color: var(--text-pitchblack-h1);
    text-align: center;
    font-size: 40px;
}

.page-pitchblack-headings :is(h2, .HyperMD-header.HyperMD-header-2) {
    color: var(--text-pitchblack-h2);
    font-size: 32px;
}

.page-pitchblack-headings :is(h3, .HyperMD-header.HyperMD-header-3, h4, .HyperMD-header.HyperMD-header-4, h5, .HyperMD-header.HyperMD-header-5, h6, .HyperMD-header.HyperMD-header-6) {
    color: var(--text-pitchblack-h3);
}