:root {
    --background-sand: #352f2a;
    --text-sand-h1: #ece1cc;
    --text-sand-h2: #f2e5c5;
    --text-sand-h3: #e4d5b2;
}

.page-sand {
    background-color: var(--background-sand);
    --hr-color: #ccb58d;
    color: #e3d8c5;
}

.page-sand-headings :is(h1, .HyperMD-header.HyperMD-header-1) {
    color: var(--text-sand-h1);
    text-align: center;
    font-size: 40px;
}

.page-sand-headings :is(h2, .HyperMD-header.HyperMD-header-2) {
    color: var(--text-sand-h2);
    font-size: 32px;
}

.page-sand-headings :is(h3, .HyperMD-header.HyperMD-header-3) {
    color: var(--text-sand-h3);
}