:root {
    --background-slate: #262626;
    --text-slate-h1: #dadada;
    --text-slate-h2: #c3c3c3;
    --text-slate-h3: #bababa;
}

.page-slate {
    background-color: var(--background-slate);
    --hr-color: #aeaeae;
    color: #cdcdcd;
    --link-unresolved-color: #c3c3c3;
    --link-external-color-hover: #c3c3c3;
    --link-color: #c6c6c6;
    --link-color-hover: #c3c3c3;
    --link-unresolved-decoration-color: #c3c3c3;
    --table-border-color: #c6c6c6;
    --table-header-border-color: #c6c6c6;
    --table-header-color: #d7d7d7;
    --code-background: #1f1f1f;
    --blockquote-border-color: #b4b4b4;
    --checkbox-color: #c3c3c3;
}

.page-slate-headings :is(h1, .HyperMD-header.HyperMD-header-1) {
    color: var(--text-slate-h1);
    text-align: center;
    font-size: 40px;
}

.page-slate-headings :is(h2, .HyperMD-header.HyperMD-header-2) {
    color: var(--text-slate-h2);
    font-size: 32px;
}

.page-slate-headings :is(h3, .HyperMD-header.HyperMD-header-3) {
    color: var(--text-slate-h3);
}